{% extends 'BCGAgencyBundle:Global:template.html.twig' %}

{% block content_container %}
    {% include 'BCGAgencyBundle:Global:header.html.twig' %}
    <div class="container-fluid" style="padding-bottom: 25px;">
    	{% block form_container %}{% endblock %}
    </div>
{% endblock %}