{% extends 'BCGAgencyBundle:Global:form.html.twig' %}

{% block form_container %}
	<div style="padding-bottom:15px;">
    	<h1>User Edit</h1>
    	<a href="/"><<< Back to the list</a>
	</div>

	{{ form_start(edit_form) }}
		{{ form_errors(edit_form) }}
		<div class="form-group">{{ form_row(edit_form.name) }}</div>
		<div class="form-group">{{ form_row(edit_form.username) }}</div>
		<div class="form-group">{{ form_row(edit_form.email) }}</div>

		{% if app.security.isGranted('ROLE_SUPER_ADMIN') == true 
			and entity.id == app.user.id %}
			<div class="form-group" style="display:none;">{{ form_row(edit_form.groupsAsCollection) }}</div>
		{% elseif app.security.isGranted('ROLE_ADMIN') == true and 
            app.security.isGranted('ROLE_SUPER_ADMIN') == false %}
			<div class="form-group" style="display:none;">{{ form_row(edit_form.groupsAsCollection) }}</div>
		{% else %}
			<div class="form-group">{{ form_row(edit_form.groupsAsCollection) }}</div>
		{% endif %}

		<div class="form-group">{{ form_row(edit_form.plainPassword) }}</div>
		<div class="form-group">{{ form_row(edit_form.phone) }}</div>
		<div class="form-group">{{ form_row(edit_form.address) }}</div>
		
		{% if entity.id != app.user.id %}
			<div class="form-group">{{ form_row(edit_form.enabled) }}</div>
		{% else %}
			<div class="form-group" style="display:none;">{{ form_row(edit_form.enabled) }}</div>
		{% endif %}

		{{ form_row(edit_form.btn) }}
	{{ form_end(edit_form) }}

    {% if app.user.groups|length > 0 %}
        {% set userAgency = app.user.groups[0] %}
        {% set entityAgency = entity.groups[0] %}
        {% if userAgency.id == entityAgency.id %}
            {% if entity.id != app.user.id %}
                <div style="margin-top:-35px; float:right;">
                    {{ form_start(delete_form) }}
                        {{ form(delete_form) }}
                    {{ form_end(delete_form) }}
                </div>
            {% else %}
                <div style="margin-top:-35px; float:right; display:none;">
                    {{ form_start(delete_form) }}
                        {{ form(delete_form) }}
                    {{ form_end(delete_form) }}
                </div>
            {% endif %}
        {% endif %}
    {% else %}
    	{% if entity.id != app.user.id %}
            <div style="margin-top:-35px; float:right;">
                {{ form_start(delete_form) }}
                    {{ form(delete_form) }}
                {{ form_end(delete_form) }}
            </div>
        {% endif %}
    {% endif %}

{% endblock %}