{% extends 'BCGAgencyBundle:Global:form.html.twig' %}

{% block form_container %}
	<div style="padding-bottom:15px;">
    	<h1>User Creation</h1>
    	<a href="/"><<< Back to the list</a>
	</div>

	{{ form_start(form) }}
		{{ form_errors(form) }}
		<div class="form-group">{{ form_row(form.name) }}</div>
		<div class="form-group">{{ form_row(form.username) }}</div>
		<div class="form-group">{{ form_row(form.plainPassword) }}</div>
		<div class="form-group">{{ form_row(form.email) }}</div>
		<div class="form-group">{{ form_row(form.groupsAsCollection) }}</div>
		<div class="form-group">{{ form_row(form.phone) }}</div>
		<div class="form-group">{{ form_row(form.address) }}</div>
		<div class="form-group">{{ form_row(form.enabled) }}</div>
		{{ form_row(form.btn) }}
	{{ form_end(form) }}
{% endblock %}

