{% extends 'BCGAgencyBundle:Global:form.html.twig' %}

{% block form_container %}
    <div style="padding-bottom:15px;">
        <h1>User</h1>
        <a href="/"><<< Back to the list</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Name</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">{{ entity.id }}</th>
                <th>{{ entity.username }}</th>
                <th><a href="mailto:{{ entity.email }}" target="_blank">{{ entity.email }}</a></th>
                <th>{{ entity.phone }}</th>
                <th>{{ entity.name }}</th>
                <th>{{ entity.address }}</th>
            </tr>
        </tbody>
    </table>

    {% if app.user.groups|length > 0 %}
        {% set userAgency = app.user.groups[0] %}
        {% set entityAgency = entity.groups[0] %}
        {% if userAgency.id == entityAgency.id %}
            <a href="{{ path('user_edit', { 'id': entity.id }) }}">Edit User >>></a>
        {% endif %}
    {% else %}
        <a href="{{ path('user_edit', { 'id': entity.id }) }}">Edit User >>></a>
    {% endif %}
        
    {% if entity.roles[0] != 'ROLE_SUPER_ADMIN' %}
        {% if app.user.groups|length > 0 %}
            {% if userAgency.id == entityAgency.id %}
                {% if entity.id != app.user.id %}
                    <div style="float:right;">
                        {{ form_start(delete_form) }}
                            {{ form(delete_form) }}
                        {{ form_end(delete_form) }}
                    </div>
                {% else %}
                    <div style="float:right; display:none;">
                        {{ form_start(delete_form) }}
                            {{ form(delete_form) }}
                        {{ form_end(delete_form) }}
                    </div>
                {% endif %}
            {% endif %}
        {% else %}
                <div style="float:right;">
                    {{ form_start(delete_form) }}
                        {{ form(delete_form) }}
                    {{ form_end(delete_form) }}
                </div>
        {% endif %}
    {% endif %}

{% endblock %}