<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	{% for obj in collection %}
		{% set agency = obj['agency'] %}
		{% set editable = obj['editable'] %}
		{% set users = obj['users'] %}

		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="heading{{ agency.id }}">
				<h4 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ agency.id }}" aria-expanded="true" aria-controls="collapse{{ agency.id }}">
						{{ agency.name }} <div style="float:right;"><a href="/agency/{{ agency.id }}/show">View</a> {% if editable %}&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/agency/{{ agency.id }}/edit">Edit</a>{% endif %}</div>
					</a>
				</h4>
			</div>
			<div id="collapse{{ agency.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ agency.id }}">
				<div class="panel-body">
					{% if users|length > 0 %}
						<table class="table">
							<thead>
								<tr>
									<th>ID</th>
									<th>Username</th>
									<th>Email</th>
									<th>Name</th>
									<th>Phone</th>
								</tr>
							</thead>
							<tbody>
								{% for user in users %}
									<tr>
										<th scope="row">{{ user.id }}</th>
										{% if editable %}
											<th><a href="/user/{{ user.id }}/show">{{ user.username }}</a></th>
										{% else %}
											<th>{{ user.username }}</th>
										{% endif %}
										<th>{{ user.email }}</th>
										<th>{{ user.name }}</th>
										<th>{{ user.phone }}</th>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					{% else %}
						There is currently no users assigned to this agency.
					{% endif %}
				</div>
			</div>
		</div>
	{% endfor %}
</div>

<div style="float:right;">
	<a href="/user/new">(+) New User</a>{% if app.security.isGranted('ROLE_SUPER_ADMIN') == true %}&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/agency/new">(+) New Agency</a>{% endif %}
</div>
