{% extends 'BCGAgencyBundle:Global:template.html.twig' %}

{% block content_container %}
	{% block fos_user_content %}
		<div class="container-fluid" style="margin-top:50px;">
			{% if error %}
		    	<div style="font-weight:bold; color:#ff0000; padding-bottom:20px;">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			<form action="{{ path("fos_user_security_check") }}" method="post" class="form">
			    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

			    <div class="form-group">
				    <label for="username">Username:</label>
				    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control" />
			    </div>

			    <div class="form-group">
			    	<label for="password">Password:</label>
			    	<input type="password" id="password" name="_password" required="required" class="form-control" />
			    </div>

			    <div class="form-group">
			    	<input type="submit" id="_submit" name="_submit" value="Login" class="btn btn-default"/>
			    </div>
			</form>
		</div>
	{% endblock fos_user_content %}

{% endblock %}