{% extends 'BCGAgencyBundle:Global:form.html.twig' %}

{% block form_container %}
	<div style="padding-bottom:15px;">
    	<h1>Agency Edit</h1>
    	<a href="/"><<< Back to the list</a>
	</div>

	{{ form_start(edit_form) }}
		{{ form_errors(edit_form) }}
		<div class="form-group">{{ form_row(edit_form.name) }}</div>
		<div class="form-group">{{ form_row(edit_form.email) }}</div>
		<div class="form-group">{{ form_row(edit_form.phone) }}</div>
		<div class="form-group">{{ form_row(edit_form.website) }}</div>
		<div class="form-group">{{ form_row(edit_form.address) }}</div>
		{{ form_row(edit_form.btn) }}
	{{ form_end(edit_form) }}

    {% if app.user.groups|length > 0 %}
    	{% set userAgency = app.user.groups[0] %}
        {% if userAgency.id == entity.id %}
            <div style="margin-top:-35px; float:right; display:none;">
                {{ form_start(delete_form) }}
                    {{ form(delete_form) }}
                {{ form_end(delete_form) }}
            </div>
        {% endif %}
    {% else %}
            <div style="margin-top:-35px; float:right;">
                {{ form_start(delete_form) }}
                    {{ form(delete_form) }}
                {{ form_end(delete_form) }}
            </div>
    {% endif %}

{% endblock %}