{% extends 'BCGAgencyBundle:Global:form.html.twig' %}

{% block form_container %}
    <div style="padding-bottom:15px;">
        <h1>Agency</h1>
        <a href="/"><<< Back to the list</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Agency Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Website</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">{{ entity.id }}</th>
                <th>{{ entity.name }}</th>
                <th><a href="mailto:{{ entity.email }}" target="_blank">{{ entity.email }}</a></th>
                <th>{{ entity.phone }}</th>
                <th><a href="http://{{ entity.website }}" target="_blank">{{ entity.website }}</a></th>
                <th>{{ entity.address }}</th>
            </tr>
        </tbody>
    </table>

    {% if app.user.groups|length > 0 %}
        {% set userAgency = app.user.groups[0] %}
        {% if userAgency.id == entity.id %}
            <a href="{{ path('agency_edit', { 'id': entity.id }) }}">Edit Agency >>></a>
        {% endif %}
    {% else %}
        <a href="{{ path('agency_edit', { 'id': entity.id }) }}">Edit Agency >>></a>
    {% endif %}

    {% if app.user.groups|length > 0 %}
        {% if userAgency.id == entity.id %}
            <div style="float:right; display:none;">
                {{ form_start(delete_form) }}
                    {{ form(delete_form) }}
                {{ form_end(delete_form) }}
            </div>
        {% endif %}
    {% else %}
            <div style="float:right;">
                {{ form_start(delete_form) }}
                    {{ form(delete_form) }}
                {{ form_end(delete_form) }}
            </div>
    {% endif %}

{% endblock %}