{% extends 'BCGAgencyBundle:Global:form.html.twig' %}

{% block form_container %}
	{% if app.user %}
		{% include 'BCGAgencyBundle:Cms:agencies-cms.html.twig' %}
	{% else %}
		{% include 'BCGAgencyBundle:Public:agencies-no-cms.html.twig' %}
	{% endif %}
{% endblock %}