<table class="table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Agency Name</th>
			<th>Email</th>
			<th>Website</th>
			<th>Phone</th>
		</tr>
	</thead>
	<tbody>
		{% for agency in collection %}
			<tr>
				<th scope="row">{{ agency.id }}</th>
				<th><a href="/view/{{ agency.id }}">{{ agency.name }}</a></th>
				<th>{{ agency.email }}</th>
				<th>{{ agency.website }}</th>
				<th>{{ agency.phone }}</th>
			</tr>
		{% endfor %}
	</tbody>
</table>