{% extends 'BCGAgencyBundle:Global:template.html.twig' %}

{% block content_container %}
	{% include 'BCGAgencyBundle:Global:header.html.twig' %}
	<h3>{{ agency.name }}</h3>
	<div><a href="mailto:{{ agency.email }}">{{ agency.email }}</a></div>
	<div><a href="http://{{ agency.website }}" target="_blank">{{ agency.website }}</a></div>
	<div><a href="tel:{{ agency.phone }}">{{ agency.phone }}</a></div>

	{% if agency.address %}
		<h5>Address:</h5>
		<div>{{ agency.address }}</div>
	{% endif %}

{% endblock %}